*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Roboto Mono", monospace;
    background:black;
}

h2{
    font-family:"Roboto Mono", monospace;
    
}

p{
    font-family: "Roboto Mono", monospace;
    
    margin-top: 0.5rem;

}
.tokenlist{
    width:90vw;
    max-width: 1170px;
    display: grid;
    margin:2rem auto;
    gap: 5rem;
    
}
.token{

    border-color: black;
    border-radius: 2rem;
    padding: 1rem 2rem;

}

@media screen and (min-width:768px) {
    .tokenlist{
        grid-template-columns: repeat(3,1fr);
        
    
    }
    
}